body {
  background-color: rgb(105, 103, 103);
}

#pacman {
  height: 470px;
  width: 400px;
  border-radius: 5px;
  margin: 40px auto;
}

#shim {
  font-family: 'Permanent Marker', cursive;
  position: absolute;
  visibility: hidden
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  color: rgb(15, 15, 14);
}

body {
  width: 342px;
  margin: 0px auto;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #b8184d;
}